#main_body{
	margin-top: 50px;
	background-color: #000;
	font-family:Arial;
}
.topmenu{
	margin-top: -50px !important;
}
#body_content{
	width:1024px;
	margin:0px auto;
}

.caption{
	font-size: 11px;
}

#map_canvas{
	margin: 0 0 0 4px;
	border: solid 1px #fff;
}

#gallery, #map_canvas{
	float: left;
}

#map_canvas span{
	display: none;
}

/* fb comment */
div.facebook_comments{
	background-color: #fff;
	width: 600px;
	margin: 20px 0;
	padding-left: 10px;
}
